* {
    box-sizing: border-box;
}

:root {
    --Pale-Blue: hsl(243, 100%, 93%);
    --Grayish-Blue: hsl(229, 7%, 55%);
    --Dark-Blue: hsl(228, 56%, 26%);
    --Very-Dark-Blue: hsl(229, 57%, 11%);
    --Gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%);
    --Font-size: 14px;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: var(--Very-Dark-Blue);
}

@media (min-width:500px) {
    .container {
        width: 375px;
    }
}

@media (min-width:1500px) {
    .container {
        width: 1400px;
    }
}

.d {
    position: absolute;
    z-index: -3;
    left: 0;
    bottom: 25%;
    width: 100%;
}

@media (max-width:1000px) {
    .d {
        display: none;
    }
}

.container {
    margin: 250px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
    color: white;
}

@media (max-width:1000px) {
    .container {
        flex-direction: column;
        gap: 5em;
        margin: 200px 1em;
    }
}

.m {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -10;
}

@media (min-width:1000px) {
    .m {
        display: none;
    }
}

.container .card {
    background-color: var(--Dark-Blue);
    padding: 50px;
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    border-top-right-radius: 80px;
    padding-right: 100px;
}

@media (min-width:1000px) {
    .container .card {
        transform: translate(45%, -30%);
    }
}

.container .card img {
    background-color: var(--Very-Dark-Blue);
    padding: 10px;
    border-radius: 10px;
}

.container .info {
    background-color: var(--Dark-Blue);
    text-align: center;
    padding: 40px 70px;
    position: relative;
    flex-basis: 55%;
    border-radius: 10px;
    transform: translateY(-3em);
}

@media (max-width:1000px) {
    .container .info {
        padding: 30px 25px;
    }
}

.container .info .n-p {
    text-align: start;
    font-size: 1.2em;
    font-weight: 200;
}

@media (max-width:1000px) {
    .container .info .n-p {
        font-size: 1.1em;
    }
}

.container .info p span {
    font-weight: 700;
}

.container .info .position {
    background-color: white;
    color: black;
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    top: -4em;
    right: 75px;
    padding: 16px 1.2em;
    border-radius: 1em;
}

@media (max-width:1000px) {
    .container .info .position {
        font-weight: bold;
        top: 10em;
        right: 85px;
        font-size: initial;
    }
}

#num {
    font-size: 3.2em;
    color: black;
}

#tx {
    color: var(--Grayish-Blue);
    position: relative;
    display: inline-block;
    top: -10px;
}

.position #tx::before {
    content: '';
    position: absolute;
    bottom: -3.5em;
    right: -1.2em;
    border: 2em solid;
    border-color: transparent white transparent transparent;
}

@media (max-width:1000px) {
    .position #tx::before {
        display: none;
    }
}

.container .info .ing {
    width: 100%;
    background-color: hsl(229deg 57% 11% / 48%);
    height: 30px;
    position: relative;
    top: 0;
    border-radius: 15px;
    left: 0;
}

.container .info .ing::before {
    content: "";
    position: absolute;
    width: 80%;
    height: 80%;
    top: 11%;
    left: 1%;
    background: linear-gradient(169deg, hsl(6, 100%, 80%) 0%, hsl(335, 100%, 65%) 96%);
    border-radius: 15px;
}

.container .info .ing::after {
    content: '';
    position: absolute;
    width: 1em;
    height: 1em;
    background-color: white;
    border-radius: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    right: 18.5%;
}

.container .info .ing .cont {}

.container .info .storage {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    font-size: 1.2em;
    font-weight: 700;
}

.container .info .storage span {}