div{
    background-color: wheat;
  
text-align: center;
direction: rtl;
text-decoration: underline;
vertical-align: top;
text-transform: uppercase;
letter-spacing: 2px;
word-spacing: 2px;
text-indent: 20px;
line-height: 1.3;
white-space: nowrap;
word-break: break-all;
border-color: inherit;


}
/*
الدرس دا عن min-width+max-width
ودا بيبقي عن طريق جعل الماكس ويدس الي ميعديهوش الكلام وبعدين ينزل تحت
والامر برضه ينطبق علي الهايت زيه زي الويدس  تمام يا ابو عمو الدرس غالبا كان بيتكلم عن  ابعا د الكلام  
fit-contant
دا بيبقي يخلي المساحه علي قد الكلام علي طول من غير ما تتعب دماغك */

/*
over-flow
دا ياباشا لما نيجي تنكتب محتوي فيعدي العنصر احنا بالعنصر دا بنقدر نظبط الدنيا وليه اكتر من اتربيزت زي ايه مثلا   
over-flow:visable
ودا غالبا القيمه الافتراضيه للعنصر 
over-flow-hidden
ودا غالبا بيخلي الكلام الزياده عن العننصر  يختفي 
over-flow:scrol;
ودا بيخلي الكلام ينزل لتحت بس عيبه انه لو اتشال الكلام الجته بتاعت البسكرول هتفضل موجوده 
over-flow:aouto
ودا افضلهم بيظبط الكلام علي جسب العنصر ايا كان كطبير صغير زكده 

/*direction
العنصر دا بيغير معني الصفحه ممكن من عربي الي الانجليزي والعكس هيا الفكره فكده */
/* virtecal aglinment 
دا عنصر تبع عناصر محاذاة الصوره بالتكست علي نفس السطر*/

/*text-decoration: underline;
دا خاصيه بتستفاد منها غالبا فانك تحط خط تحت او فوزق الكلام ببساطه شديده  وسعات بتحتاجه فانك تشل الخط الي تحت ال الرابط*/
/*text-transform: capitalize
العنصر دا بيساعدك علي التعديل علي النص من غير ما تخش فال html  وي انك تخل يالحجات مثلا كل الحروف كابتل او ممكن سمول او ممكن اول كام حرف بس هما الكابتل   ومن امثلتها اللور كيس والارب كيس وكابيتالايز
*/
/*letter-spacing: 2px;
د المسافهع الي بتتحط بن الحروف والكلمات وبعضها */
/*text-indent: 20px;
ود بتكون المساحه الفاضيه ال يقبل الكلام فالنص بتاعك */
/* line-height: 1px;
ودا بيكون ارتفاع الخطوط بينها وبين بعضها من فوق لتحت */
/*white-space: nowrap
دي بتكون تخلي تعاملك مع الكلمات اول ما بلاثقي المساحه الفاضيه يتخطاها لو كان نو رابينج*/
/*word-break: break-all;
ودي خاصيه او عنر بخليبك تقص الكلام ومتخليش حاجه تطلع برا العنصر */
/*border-color: inherit;
دا لم اتعوز ان العنصر يورث من العنصر الاب اي حاجه تفكر فها  الاب من غير ما تتعب نفسك علشان النغج*/
/*font-family
العنصر دا هوا الي بنستخدمه علشان نغير شكل الخطوط*/

 /*float:  
 دا عنمصر بخل العناصر الي جوا الديف تعوم جواه */
 /* clear:
 حاجه تفصل بها العناص عن بعضها بدل ال  br  */
 /*width;calc{} 
 دي بتكون طريقه لجسابات النمسافه بين العناصر بطريقه سهله بدل مكا تحسبها من برا  وفكره جمله برضه */
 /*opasity;0.1;
 دا عنصر بيخليك تتحكم في شفافية العنصر كله مش اللون بس علشان تبقي الامور مظبوطه معاك بأذن الله */
 /* position :
 دا لتحرييك العنصر بداخل الصفحه بتاعتك وبيكون ليه اتربيوت كتير زي مثلا static
 ودا بيكون اتربوت بعمل للعنصر ايقاف فمكانه مهما اتغر من الصفحه 
 reletive
 ودا بكون خلي العنصر تحرك بناء علي مكانه يعن لوز قلتله اتحرك 10 لفوق بيتحرك بناء عل مكانه هوا مش الصفحه 
 absolit
 ودا بيكون مخلي العنصر يتحرك بحريه فالصفحه  وملهوش دعوه بمكانحاجه بس غالبا لازم العنصر الاب الي العنصر جواه لازم يكون رليتف علشان يعرف تحرك 
 fixed
 ةدا بكون اتربييوت بخل العنصر بيتحرك براحته فالصفحه  ولكن انت لما تمزل تحت وتعمل سكرول مش هنيزل معاك هفضل ماسك الصفحه 
 
 stiky
 دا اتربيوت بيخل العنصر يتحرك معاك فالصفحه لو بتعمل سكرول ولكن اول منا وصل المكان ال انت عامله فه بوقف ومش بينزل
 */
 /* z-index
 دا نظام طبقات العناصر زبعضها علشان تعرف تتحكم فهم وتخل دا فوق دا او العكس 
 ملحوظه  مش بشتغل الا لما يكون فيه  طبقات */
 /*
 /*boder:reduis
 دا الحاجه الي بت6غير نصف القطر بتاع العنصر وتخلي المربع شكله حلو وبيكون لازم العرض والطول غالبا واحد 
 وهتستخدمه  كتير علشان بس متنساش وكل حته ليها حته */
 /* box-sizing
 دا عنصر او خاصيه بتنضاف الي المربع اليي فيه الكلام علشان تخلي الويدث مظبوط مكهما ضيفنا عليه من مارجن او  بادينج*/
 /*!important
 الخاصيه دي بتخلي الخاصيه المحطوطه في الملف ت اوفر رايت علي كل العناصر حتي لو كانت في ال html 
 */
 /*
 1.only virtecal margin well be collaps
 2.the bigger elemant win 
 3.if thay have elemant betwen them thay cant collaps 
4.if thay in nasting it well no action on them .
 يعني لما اجي اعمل مارجن بين عنصرين ولكن عامودي دا بس الي بيتعملو دمج من العنصر علشان يحافظ علي نسق العنصر */


 


 